@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
@import "variables";

.main_conteneur {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
}

header {
  display: flex;
  padding: 10px 0;

  .logo_header {
    width: 50%;
    display: flex;
    margin: auto;
  }
}

/// ***Footer***//
footer {
  background-color: $color_black;
  padding: 22px;

  .footer__title {
    font-family: $font-title;
    color: $color_white2;
    font-size: $font-size-l;
    text-decoration: none;
  }

  ul {
    list-style: none;
    color: $color_white2;
    font-family: $font-text;
    font-size: $font-size-m;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    margin: 15px 0 0;
  }
}



