
@import "global";

header
{
	margin-bottom: -3%;
}
 


.return
{
	a
	{
		color: black ;
	}

	font-size: 30px;
	position: relative;
	left: 3%;
	top: 10%;
	display: flex ;
	flex-direction: column;
	justify-content: center;
}

.imagedefond
{
	display: flex;
	object-fit: cover;
	width: 100%;
	height: 275px;
	top: 50px;
	position: relative;
}

.header
{
	margin-bottom: -6%;
}

.card
{
	position: relative;
	width: 100%;
	flex-direction: column;
	display: flex;
	border-radius: 5% 5% 0 0;
	background-color: $color_white;
	overflow: hidden;
	h1
	{
		display: flex;
		justify-content: start;
		font-size: 40px;
		line-height: 41px;
		font-family: $font-title;
		padding-left: 30px;
	}

	
	.heart {
		 i {
		position: absolute;
		right: 40px;
		top: 3.5%;
		display: flex;
		font-size: 25px;
	}
	.full {
		opacity: 0;
		transition-property:all ;
		transition-duration: 1.5s;
	  }
	
	  .full:hover {
		opacity: 1;
		color: transparent;
		background-image:$gradiant;
		-webkit-background-clip: text;
	}
}
	h2
	{
		font-size: $font-size-m;
		font-weight: 300;
		font-family: $font-text;
		line-height: 19px;
		display: inline-block;
		padding-bottom: 5px;
		position: relative;
		bottom: 75%;
		padding-left: 20px;
	}

	h2:after
	{
		content: "";
		position: absolute;
		width: 40px;
		height: 1px;
		bottom: 0;
		border-bottom: 3px solid $thirdcolor;
		display: flex;
	}

	ul
	{
		list-style-type: none;
		gap: 20px;
		display: flex;
		flex-direction: column;
		padding: 0 10px;
	}

	li
	{
		box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
		width: 90%;
		display: flex;
		justify-content: space-between;
		border-radius: 15px;
		gap: 5px;
		flex-direction: row;
		font-size: $font-size-l;
		margin-top: 5px;
		padding: 15px;
		align-items: center;
		background: white;
		position: relative;
		overflow: hidden;
		.description
		{
			font-size: $font-size-s;
			font-weight: normal;
			p
			{
				margin: 0;
				&.intitule
				{
					font-size: $font-size-l;
					color: #000000;
					font-weight: bold;
					margin-bottom: 5px;
				}
			}
		}

		.prix
		{
			font-size: $font-size-l;
			font-weight: bold;
			align-self: end;
			position: relative;
			
		}

	}
}

.commander
{
	justify-content: center;
	display: flex;
	background-color: $color_white;
	.bouton
	{
		background: linear-gradient($secondcolor, $maincolor);
		width: 218px;
		height: 51px;
		color: $color_white2;
		border-width: 0px;
		border-radius: 25px;
		font-size: $font-size-m;
		font-family: $font-text;
		margin-top: 25px;
		margin-bottom: 60px;
		box-shadow: 0px 4px 10px 0px #00000040;
		transition: 700ms;
  
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 10px 5px #00000040 ;}

	a {
		text-decoration: none;
		color: $color_white2;
		}
	}
}

.check {
	width: 60px;
	background: #99E2D0;
	border-radius: 0 15px 15px 0;
	height: 100%;
	position: absolute;
	right: -60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .8s all;
	i {
		color: white;
		background-color: 99E2D0;
		font-size: 20px;
		font-weight: bold;
	}
	}

	.prix {transition: 0.8s all; right: 0px;}
	
li:hover {
	 .check {
		right:0;
		}
		 .prix {
			right: 60px;
		}
	}


@media screen and (min-width: 1024px)
{
	header
	{
		.logo_header
		{
		width: 14%}

	}

	.card
	{
		display: flex;
		width: 75%;
		margin: auto;
		h1
		{
			margin: auto;
			padding-top: 50px;
			font-size: 28px;
		}

	}

	.card li
	{
		display: flex;
		width: 70%;
		margin: auto;
	}

	.card h2
	{
		padding-left: 14.5%;
	}

	.commander
	{
		background-color: $color_white;
		width: 75%;
		margin: auto;
		display: flex;
	}
	
	.card .heart i {
		position: absolute;
		right: 200px;
		top: 5.1%;
		display: flex;
		font-size: 25px;
	}
}
