$maincolor : #9356DC;
$secondcolor :#FF79DA;
$thirdcolor: #99E2D0;
$color_medium_white: #EAEAEA;
$color_white: #F6F6F6;
$color_white2: #ffffff;
$color_black: #353535;
 

$gradiant:  linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 15px;

$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;